# Gitlab files
gitlab/config/
gitlab/data/
gitlab/logs/
gitlab/gitlab-runner/config/config.toml

# Angular builds
nginx/app/html/mis-secretariat/

# Lumen API PHP files
nginx/api/html/api/

# Redis Data
redis/
